
<%- include("header") %>

<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://image.flaticon.com/icons/png/512/3408/3408455.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form action="/login" method="POST">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Nom utilisateur">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mot de passe">
        <input type="submit" class="fadeIn fourth" value="Se Connecter">
      </form>
  
    </div>
</div>